<%= render "header" %>
<p class="title" style="color: var(--primary)">Photo Upload</h1>
<p class = "lead" style="color: var(--white)">Uploading photos for <%=@event.title %></p>
</nav>
</header>

<div class = "text-content">

<%= render "form", event: @event %>

</div>