<div style="
  background: var(--steel);
  text-align: left;
  padding: var(--spacing-5);">
<p class="title" style="color: var(--primary)"><%=@event.title %></h1>
<p class = "subtitle" style="color: var(--white)"><%=@event.body %></p>
</div>
<% if @event.images.attached? %>

  <% @event.images.each do |image| %>
      <%= image_tag (image.variant(saver: { quality: 75 })) %> 
  <% end %>
<% end %>