<h1><%=@event.title%></h1>

<%= link_to @event.title, @event %>
<% if @event.images.attached? %>

  <% @event.images.each do |image| %>
      <%= image_tag (image.variant(saver: { quality: 75 })) %> 
  <% end %>
<% end %>